<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
    <v-app>
      <v-main>
        <v-app-bar dense>
          <v-app-bar-nav-icon><v-icon>mdi-domain</v-icon></v-app-bar-nav-icon>
          <v-toolbar-title><b> {{ title }} </b></v-toolbar-title>
          <v-spacer></v-spacer><v-toolbar-title>{{ cycleCount }}</v-toolbar-title>
          <v-btn icon>
            <v-icon>fas fa-tachometer-alt</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon a href="https://www.linkedin.com/in/georgedekker/" target="_blank">mdi-dots-vertical</v-icon>
          </v-btn>
        </v-app-bar>
        <v-container fluid>
          <v-row>
            <v-col cols="2">
              <h3> Instructions</h3>
              <v-card>
                <p class="mx-3">Fill out <b>Market Demand</b> and <b>Capacity</b> for all Stations and <b>click the Cycle Button</b> to step through the process. </p><p class="mx-3"><b>Click Clear</b> to reset the game. </p><p class="mx-3">You are free to modify the <b>Capacity</b> during the game. </p><p class="mx-3">The Output will reset to 0 at 100 Beads. </p>
              </v-card>
            </v-col>
              <v-col cols="10">
                <v-row>
                  <v-col v-for="i in 7" outlined tile v-bind:key="i.text">
                    <v-card v-if="(i===2 || i===3 || i===4 || i===5 || i===6)">
                      <h3 class="text-center">Station {{i-1}}</h3>
                      <v-text-field v-if="(i===2)" v-model="station1.capacity" name="station1" id="station1" text-align="center"label="Throughput" hide-details="auto" filled shaped dense></v-text-field>
                      <v-text-field v-if="(i===3)" v-model="station2.capacity" name="station2" id="station2" text-align="center"label="Throughput" hide-details="auto" filled shaped dense></v-text-field>
                      <v-text-field v-if="(i===4)" v-model="station3.capacity" name="station3" text-align="center"label="Throughput" hide-details="auto" filled shaped dense></v-text-field>
                      <v-text-field v-if="(i===5)" v-model="station4.capacity" name="station4" text-align="center"label="Throughput" hide-details="auto" filled shaped dense></v-text-field>
                      <v-text-field v-if="(i===6)" v-model="station5.capacity" name="station5" text-align="center"label="Throughput" hide-details="auto" filled shaped dense></v-text-field>
                      <p v-if="(i===2)" class="ml-3"><b>capacity {{ station1.capacity }} </br> in {{ station1.win }} </br> wip {{ station1.wip }} </br> out {{ station1.out }}</b></p>
                      <p v-if="(i===3)" class="ml-3"><b>capacity {{ station2.capacity }} </br> in {{ station2.win }} </br> wip {{ station2.wip }} </br> out {{ station2.out }}</b></p>
                      <p v-if="(i===4)" class="ml-3"><b>capacity {{ station3.capacity }} </br> in {{ station3.win }} </br> wip {{ station3.wip }} </br> out {{ station3.out }}</b></p>
                      <p v-if="(i===5)" class="ml-3"><b>capacity {{ station4.capacity }} </br> in {{ station4.win }} </br> wip {{ station4.wip }} </br> out {{ station4.out }}</b></p>
                      <p v-if="(i===6)" class="ml-3"><b>capacity {{ station5.capacity }} </br> in {{ station5.win }} </br> wip {{ station5.wip }} </br> out {{ station5.out }}</b></p>
                    </v-card>
                    <v-card v-if="(i===1 || i===7)" height="5rem">
                      <h3 v-if="i===1" align="center">Input</h3>
                        <v-text-field v-if="i===1" v-model="beadNew" name="beadNew" id="beadNew" text-align="center"label="Market Demand" hide-details="auto" filled shaped dense></v-text-field>
                        <p v-if="i===1">{{ beadNew }}</p>
                        <h3 v-if="i===7" align="center">Output: {{ beadsOutput }}</h3>
                        <p></p>
                        <v-btn v-if="i===7" @click="cycle()" block align="center" color="internal-light-dark">Cycle Button</v-btn>
                        <v-btn v-if="i===7" @click="clear()" block align="center" color="internal-light-dark">Clear Button</v-btn>
                      </h3>
                    </v-card>
                  </v-col>
                </v-row>
              <v-col cols="12" >
                <v-row id="theWidth">
                  <div id="idnameofdiv"></div>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      <v-footer fixed="fixed" app>
        <span>&copy; 2020 - Made with 💙 by <a href="https://www.linkedin.com/in/georgedekker/" target="_blank">George Dekker</a></span>
      </v-footer>
    </v-app>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    // <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    // <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.6/vuetify.min.js"></script>
    // <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.js"></script>
    // <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script> -->
    <script src="vue.min.js"></script>
    <script src="vuetify.min.js"></script>
    <script src="p5.min.js"></script>
    <script src="sketch_min.js"></script>
    <script src="main_min.js" charset="utf-8"></script>
  </body>
</html>
